/* ToDoListForm.css */
/* 기본 react-calendar 스타일을 덮어쓰기 위한 추가적인 CSS */
.react-calendar {
  border: none;
  font-family: "Noto Sans", sans-serif;
  border-radius: 12px;
}

.react-calendar__navigation button {
  color: #666;
  min-width: 44px;
  background: none;
  font-size: 16px;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  color: #666;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 10px 0;
  background: none;
  color: #666;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--active {
  background-color: #0a8;
  color: white;
}
