html,
body {
  height: 100%;
  margin: 0;
}

.MyPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #beecff;
  min-height: 100vh; /* 뷰포트 높이의 100%를 최소 높이로 설정 */
}

/* 화면 너비가 768px 이하일 때 적용될 스타일 */
@media (max-width: 768px) {
  .MyPageContainer {
    flex-direction: column;
    height: 50%;
  }
}